# ==========================================
# 🚀 Archivos y Archivos Temporales de Flutter / Dart
# ==========================================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Documentación autogenerada y símbolos
**/doc/api/
app.*.symbols
app.*.map.json

# ==========================================
# 📱 Configuración e Instalables Nativo Android
# ==========================================
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/captures/
/android/gradleApp.setting
/android/local.properties
**/android/app/key.properties
**/android/app/upload-keystore.jks

# ==========================================
# 🍏 Configuración e Instalables Nativo iOS / macOS
# ==========================================
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flttmp
**/ios/DerivedData/
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Runner.xcworkspace/
**/ios/Pods/
**/ios/.symlinks/

# ==========================================
# 💻 IDEs y Editores de Código
# ==========================================
# VS Code (Mantiene la carpeta .vscode ignorando solo los archivos temporales)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# ==========================================
# 🛠️ Sistema Operativo y Logs
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log

# ==========================================
# 🔑 Claves y Variables de Entorno (Seguridad)
# ==========================================
*.env
*.env.*